*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    position: relative;
    top: 40px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    top: 45px;
}

.homeBackground{
    background-image: url("thumb-1920-470318.png");
    height: 60%;
    width: 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

#selection-bar{
    color: white;
    font-display: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    top: 0;
    z-index: 100;
    width: 100%;
    min-height: 59.03px;
    background-color: rgb(71, 139, 182);
}

#selection-bar li{
    display: inline-block;
    margin: 12px 20px 10px 20px;
    padding: 4px 20px 10px 20px;
    text-align: initial;
    font-size: 20px;
    font-weight: 100;
    background-color: transparent;
}  

#selection-bar li:hover {
   color: cyan;
   cursor: pointer;
   -webkit-transition: color 0.5s ease-out;
   -moz-transition: color 0.5s ease-out;
   -o-transition: color 0.5s ease-out;
   transition: color 0.5s ease-out;
}



.media-buttons{
    font-size: 25px;
    display: inline-block;
    color: white;
    /* text-align: center; */
    position: absolute;
    right:1.7%;
    top: 2%;
    
}

.media-buttons li{
    list-style: none;
    text-align: initial;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: baseline;
    position: relative;
    vertical-align: middle; 
    margin-bottom: 2px;
}

.media-buttons li:hover {
    color: cyan;
    border-color: cyan;
    cursor: pointer;

    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;

    -webkit-transition: border-color 0.5s ease-out;
    -moz-transition: border-color 0.5s ease-out;
    -o-transition: border-color 0.5s ease-out;
    transition: border-color 0.5s ease-out;

}

#protrait-pic{
    position: absolute;
    left: calc(50% - 85px);
    top: 7%;
    border: 1px solid white;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    line-height: 100px;
    border-bottom-color:  transparent;
    border-width: 0;
}

.MainButton{
    background-color:#1f90d1;
    border-radius:11px;
    text-shadow:0px -1px 50px #1942bf;
    background-color:#1f90d1;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
    position: absolute;
    top: 43%;
    color: white;
    padding: 15px;
    left: calc(50% - 85px);
}

.homePageBottom{
    margin: 0;
    background-color: rgb(131, 192, 229);
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: calc(40% - 65px );
    height: auto;
    position: relative;
    line-height: 25px;
}

.homePageBottom div{
    background-color: rgb(171, 220, 246);
    margin-bottom: 10px;
    margin: 20px;
    padding: 15px;
    color: #0c75b2;
    position: relative;
    height: auto;
}

.homePageBottom h1{
    font-size: 30px;
    position: relative;
    top: -10px;
}

.homePageBottom span{
    background-color:#1f90d1;
    border-radius:5px;
    text-shadow:0px -1px 50px #1942bf;
    white-space:nowrap;
    background-color:#1f90d1;
	-moz-border-radius:5px;
	-webkit-border-radius:11px;
    color: white;
    padding: 5px;
}

